<div class="container loginsignup page" change-password-ready>
  <div class="col-md-12">`
    <notification-dialog></notification-dialog>
    <div class="form-reset block" ng-show="hashConfirmed">
      <h2>Reset Password</h2>
      <p>Please confirm your username and enter a new password below</p>
      <form ng-submit="completeReset()">
        <input class="form-control" ng-model="username" placeholder="Username" required>
        <input class="form-control" ng-model="password" placeholder="New Password" type="password" required>
        <input class="form-control" ng-model="confirm" placeholder="Confirm Password" type="password" pattern="{{password}}" required>
        <button class='button-outline' type='submit'>Reset</button>
      </form>
    </div>
  </div>
</div>