<div class="ted-image">
    <div class="ted-text-background">
        <div class="container">
            <div class="spot-text">
                <h1 class="ted-heading">Trusted Extension Developer (TED) Program</h1>
            </div>
        </div>
    </div>
</div>
<div class="container ted-content">
    <div class="row-fluid follow">
        <div class="span12 text-center">
            <ng-include src="'/views/follow.html'"></ng-include>
        </div>
    </div>
    <div class="row-fluid">
        <h1 class="ted-h1">Introducing Qlik’s Trusted Extension Developer (TED) Program</h1>
        <p class="ted-byline">By Brian Munz, Director of Developer Relations, Qlik</p>

        <img src="/resources/ted-seal.png" class="ted-seal" />
        <p>Thanks to our amazing developer community, Qlik Branch has grown into a great place to find open source projects
            that leverage and extend Qlik products. The types of innovative extensions created by developers have far exceeded
            our expectations and understanding of what is possible with Qlik and the Qlik Associative Engine.</p>

        <p>As is often the case with open source, however, deploying these projects to production can be perceived to be risky
            and difficult, especially for enterprise companies. Our customers also say they’re not sure where they can find
            high quality partners and developers who can build and support extensions they trust.</p>

        <p>Customers and developers alike have expressed a great need to have more transparency into extension security, code
            stability and overall quality.</p>

        <p>We’ve heard the feedback and are happy to announce a new program to address these needs: Qlik’s Trusted Extension
            Developer (TED) Program. This program will help to identify and vet partners who are active in the development
            of high quality, commercially viable extensions.</p>

        <p>Once they are part of the program, partners will have access to our accreditation process which will ensure their
            extensions adhere to Qlik’s standards of supported functionality, security and completeness. The accreditation
            process will also provide useful tools and tests which should make the development process itself easier and
            safer.</p>

        <p>Customers benefit from this program as they will be able to easily find extensions that are production-ready, created
            by the best of the best extension developers. We’ve been working hard with existing partners like Climber and
            Vizlib to create a program that will hopefully further ease accelerate extension development and deployment in
            the future.</p>

        <h2>Want to be a part of it?</h2>

        <p>To register your interest in being invited to the TED Program, follow these instructions…</p>

        <ol>
            <li>Login or signup to join the Qlik Branch community</li>
            <li>In the dropdown that displays when you click your username, select “My Profile”</li>
            <li>Select “Edit” and mark “Yes” under the TED section to opt-in</li>
            <li>Click “Save”</li>
        </ol>

        <p>And please, feel free to visit Qlik Market for more information on extensions available today.</p>

        <div class="center-block" style="display: flex; flex-direction: row; align-items: center">
                <button class="btn btn-default btn-ted center-block" onclick="window.location.href='/#!/loginsignup'">Get Started</button>

                <button class="btn btn-default btn-ted center-block" onclick="window.location.href='http://market.qlik.com/ted'">Qlik Market</button>
        </div>

    </div>
</div>